
body {
    margin: 40px 100px;
    background-color:#f0f0f0;
}

h2 {
    font-size: 30px;
}
#main-header {
    background-color: #383a39;
    border-radius: 6px;
    position: static;
    height: 200px;
}



div.header-div {
    position: relative;
    /* background-color: rgb(58, 138, 112); */
    max-width: fit-content;
    left: 37%; 
    top: 10px;
}


div.header-div h1 {
    position: relative;
    /* background-color: aliceblue; */
    color: white;
    font-size: 38px;
    max-width: fit-content;
    left: 80px;
    top: 10px;
    margin: 10px ;
}


div.header-div span {

    color: #929392;
    font-size: 28px;
    position: relative;
    right: 134px;
}

nav.main-nav {
    
    font-size: 22px;
    position: relative;
    left: 35%;
    top: 22%;
}

nav.main-nav a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

nav.main-nav a:hover {
    color: #beaa23;
    transition: .4s; 
}

a.go-top {
    background-color: #1dc434;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 800;
    position: fixed;
    right: 25px;
    bottom: 20px;
    text-decoration: none;
}


section.about-me {
    background-color: white;
    border-radius: 8px;
    height: 350px;
    padding: 5px 34px;
    margin: 50px 0px;
    font-size: 20px;

}

section.about-me img{
    
    position:absolute;
    border-radius: 50%;
    right: 30%;
}


section.skills {
    height: 170px;
    border-radius: 10px;
    padding:20px 20px;
    background-image: url("imgs/Skills-for-resume-1.jpg");
    background-position: center;
    background-size:cover ;
    color: white;
}

section.skills nav {
    background-color: rgba(242, 244, 250, 0.9);
    height: 80px;
    border-radius: 10px;
    padding-left: 260px;
}

section.skills div.skill {
    background-color: #70da7e;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    margin: 20px 2px;
    cursor: pointer;
    transition: 0.4s;
}

section.skills div.skill:hover {
    background-color: #1dc434;
    transform: translateY(-5px);
}

section.projects {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    padding: 8px 40px;
    position: relative;
}

section.projects div.project div{
    min-height: 240px ;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    /* position: relative; */
    left: 20px;
}
section.projects div.first-div { 

    background-color: #854796;
    width: 220px;
    border-radius: 10px;
    position: absolute;
    padding: 12px;
    margin-left: 50px;
    font-size: 18px;
    position: absolute;
    bottom: 1140px; 
}
section.projects div.second-div { 
    background-color: orange;
    width: 220px;
    margin-bottom: 40px;
    padding: 12px;
}

section.projects div.third-div {
    background-color: rgb(22, 139, 228);
    width: 220px;
    padding: 12px;
} 

section.projects div.fourth-div { 
    /* position: relative; */
    background-color: #5a7085;
    margin-bottom: 40px;
    padding: 1px 2px;
    width: 103%;
}

section.contact-me {
    background-color: #f4f4f4;
    box-shadow: 0px 1px 4px rgba(130, 143, 147, 0.5) inset;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

section.contact-me p {
    font-size: 20px;
    margin: 0;
}

section.contact-me h2 {
    margin: 0;
}

section.contact-me div.form {
    font-size: 20px;
}



section.contact-me div.form input[type="text"],
section.contact-me div.form input[type="email"],
section.contact-me div.form textarea {
    width: 100%;
    border-radius: 5px;
    margin: 12px 0px;
    border: 1px solid #ccc; 
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 7px 13px;
    
}

section.contact-me div.form input[type="text"],
section.contact-me div.form input[type="email"] {
    height: 30px;
}

section.contact-me div.form textarea {
    height: 80px;
}

input, textarea {
    padding-left: 2px; 
    padding-top: 5px;   
}

section.contact-me div.form input[type="submit"] {
    cursor: pointer;
    width: 100px;
    min-height: 44px;
    border-radius: 5px;
    color: #3cab4b;
    font-size: 18px;
    border: 2px solid #3cab4b;
}

section.contact-me div.form input[type="submit"]:hover {
    background-color: #3cab4b;
    color: white;
    transition: .4s;
}

section.contact-me div.form input[type="text"]:focus, 
section.contact-me div.form input[type="email"]:focus, 
section.contact-me div.form textarea:focus {
    border: 1px solid #1dc434;
    outline: none; 
}

footer div {
    font-size: 22px;
    background-color: #383a39;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
}

footer div span{
    position: relative;
    left: 43%;
    top: 25%;
    color: white;
}

footer a {
    color: #8e8236;
    text-decoration: none;
}

footer a:hover {
    transition: .4s;
    color: white;
}


